:root {
    --primary-color: #F30168;
}
@font-face {
    font-family: 'Sora';
    src: url('../fonts/Sora-VariableFont_wght.ttf') format('truetype');
}
  
* {
    font-family: 'Sora';
    color: #292D32;
}

body {
    /* position: relative; */
    background: #FAFAFC;
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.text-line {
    border-bottom: 1px solid #666666;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    background-image: url('@/assets/tick-square.svg');
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: left 4px ;
    background-size: 12px;
    padding-bottom:10px ;
}

input {
    box-sizing: border-box;

    /* Auto layout */

    padding: 30px 16px;
    gap: 10px;
    width: 551px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid rgba(81, 93, 116, 0.5);
    border-radius: 5px;

    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #292D32;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

input::placeholder {
    /* color: #292D32; */
}

button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 24px 18px 24px;
    gap: 24px;



    border: none;
    background: var(--primary-color);
    border-radius: 5px;

    /* Botão CTA ativo */

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

button:hover {
    opacity: 0.9;
}
a:hover{
    opacity: 0.7;
}

.divider {
    border: 1px solid rgba(196, 196, 196, 0.5);
    margin: 20px 0 20px 0
}